<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="world"  default="$(find gazebo_sim_walk)/worlds/TrialWorld.world"/>  <!-- empty, ... (see ../worlds) -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="recording" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>

    <env name="GAZEBO_MODEL_PATH" value="$(find test)/models:$(find tobi_sim)/models:$(find tiago_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find tobi_sim)/media:$(optenv GAZEBO_RESOURCE_PATH)"/>

    <env name="LC_NUMERIC" value="C" />



   <arg name="arm"  default="True"/>
   <arg name="ft_sensor"  default="schunk-ft"/>
   <arg name="end_effector"  default="pal-gripper"/>
  

  <!-- Robot model -->
  <include file="$(find tiago_description)/robots/upload.launch">
    <arg name="arm" value="$(arg arm)"/>
    <arg name="end_effector" value="$(arg end_effector)"/>
    <arg name="ft_sensor" value="$(arg ft_sensor)"/>
    <arg name="laser_model"  value="sick-571"/>
    <arg name="camera_model"  value="asus-xtion"/>
    <arg name="multi"  value=""/>
  </include>


</launch>
